{{- with $prefix := .Prefix | capitalize }}
actor {{ $prefix }}Client
    let send_msg: SendMsg

    new create(send_msg': SendMsg) =>
        send_msg = send_msg'
{{ range $i, $msg := $.Messages }}
    be {{ $msg.Name }}(data: (Array[U8 val] iso | None)) =>
        send_msg({{ $prefix }}.{{ $msg.Name }}(), consume data)
{{ end }}

{{- end }}
