{{- with $prefix := .Prefix | capitalize }}
actor {{ $prefix }}Client
    let sendMsg: SendMsg

    new create(sendMsg': SendMsg) =>
        sendMsg = sendMsg'
{{ range $i, $msg := $.Messages }}
    be {{ $msg.Name | snakeToCamel }}(data: (Array[U8 val] iso | None)) =>
        sendMsg({{ $prefix }}.{{ $msg.Name | snakeToCamel }}(), consume data)
{{ end }}

{{- end }}
